@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Pacifico&family=Sansita+Swashed:wght@500&display=swap');

.name {
	font-family: 'Black Han Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Sansita Swashed', cursive;
}
